<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orion.synevent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".CreateEventActivity"/>
        <activity android:name=".CreateScheduleActivity"/>
        <activity android:name=".CreateAgendaActivity"/>
        <activity android:name=".ListEventActivity"/>
        <activity android:name=".StatusEventActivity"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity"/>
        </activity>
        <activity android:name=".ListAgendaActivity" />
    </application>

</manifest>